.nav-menu {
  padding: 16px 0;
  transition: all 0.3s ease;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.is-scrolling {
  padding: 0;
  background-color: $accent;
  opacity: 0.9;
}
.nav {
  display: flex;
  align-items: center;
  padding: 0 95px;
}

.logo {
  padding-top: 15px;
  padding-bottom: 10px;
}

.nav__list {
  display: flex;
  margin-left: auto;
}

.nav__item:not(:last-child) {
  margin-right: 56px;
}

.nav__link {
  padding: 20px 0;
  font-weight: 600;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.header {
  position: relative;
  padding-top: 350px;
  padding-bottom: 280px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1c1b21 92.19%),
    url(../../images/hero-bg.png);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 48px;
}

.title--accent {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 1px $white;
}

.news-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
}

.news-list__item {
  position: relative;
  width: 350px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.news-list__item--img {
  border-radius: 20px 0px;
}

.news-list__item--link {
  &:focus .news-list__item--figure,
  &:hover .news-list__item--figure {
    top: -1rem;
    left: -1rem;
    box-shadow: 5px 5px rgba(175, 107, 208, 0.4),
      10px 10px rgba(146, 49, 173, 0.3), 15px 15px rgba(150, 82, 192, 0.2),
      20px 20px rgba(154, 82, 192, 0.1), 25px 25px rgba(157, 82, 192, 0.05);
  }
}

.news-list__item--figure {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 20px 0px;
  transition-property: top, left, box-shadow;
  transition-duration: 125ms;
  transition-timing-function: ease-in;
}
.news-list__item--caption {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 21px 20px;
  border-radius: 20px 0px;
  background: #7a66cc78;
  font-weight: 500;
  font-size: 16px;
}
